<script lang="ts">
  import Page from "components/page.svelte";
  import SelectInput from "components/select-input.svelte";
  import { afterUpdate } from "svelte";
  let searchValue = "";
  let rows: string[] = [];
  let displayPokemon: Record<string, any> | null = null;
	export let data: Record<string, any>;
  afterUpdate(() => {
    if (searchValue !== "") checkForRows();
    else rows = [];
  });

  const checkForRows = async () => {
    const response = await fetch(`/api/pokedex/names?v=${searchValue}`, {
      method: "GET",
      headers: {
				"content-type": "application/json",
				authorization: data.jwtToken,
      },
    });

    const total = await response.json();
    if (!total.data?.length) return (rows = []);
    rows = total.data.map((obj: { name: string }) => obj.name);
  };

  const searchPokemon = async (name: CustomEvent) => {
    rows = [];
    searchValue = "";

    const response = await fetch(`/api/pokedex/name?v=${name.detail}`, {
      method: "GET",
      headers: {
				"content-type": "application/json",
				authorization: data.jwtToken,
      },
    });
    const pokemon = await response.json();

    if (pokemon.success) displayPokemon = pokemon.data;
    else console.log(pokemon.error);

    console.log(pokemon.data);
  };
</script>

<Page>
  <h1>Pokedex</h1>
  <div class="Pokedex__wrapper">
    <SelectInput
      id="Pokemon"
      name="Pokemon"
      type="string"
      required={true}
      bind:value={searchValue}
      {rows}
      on:returnValue={searchPokemon}
    >
      Pokemon
    </SelectInput>
  </div>

  {#if displayPokemon}
    <section class="Pokedex__pokemon">
      <div
        class="Pokedex__img"
        style="background-image: url('{displayPokemon.sprites.front_default}');"
      />
      <div>
        <b>species:</b>
        {displayPokemon.species.name}<br />
        <b>base exp:</b>
        {displayPokemon.base_experience}<br />
        <b>height:</b>
        {displayPokemon.height}<br />
        <b>weight:</b>
        {displayPokemon.weight}<br />
        {#each displayPokemon.stats as row}
          <b>{row.stat.name}:</b> {row.base_stat}<br />
        {/each}
      </div>
    </section>
  {/if}
</Page>

<style lang="scss">
  .Pokedex {
    &__wrapper {
      max-width: 500px;
    }

    &__pokemon {
      display: flex;
      align-items: center;
      justify-content: left;
      flex-direction: row-reverse;
      gap: 5rem;
      padding: 0 0.5rem;
    }

    &__img {
      content: "";
      height: 14rem;
      width: 14rem;
      background-size: 14rem;
      background-position: 50%;
    }
  }
</style>
