<script lang="ts">
	import FriendsList from "components/friends-list.svelte";
	import Navigation from "components/navigation.svelte";

	export let data: Record<string, unknown>;
	$: User = data?.user;
</script>

<div>
	<Navigation {data} />
	<slot />
	{#if User}
		<FriendsList {data} />
	{/if}
</div>
