<script lang="ts">
  import { createEventDispatcher } from "svelte";
  export let type: "button" | "submit" | "reset" | null | undefined = "button";
  export let customClass = "";
  let defaultClass = `Button ${customClass}`;

  const dispatch = createEventDispatcher();
  function handleClick() {
    dispatch("click");
  }
</script>

<button class={defaultClass} {type} on:click={handleClick}>
  <slot />
</button>

<style>
  .Button {
    font-weight: 600;
    color: rgba(var(--color-base), 1);
    background-color: rgba(var(--color-secondary), 1);
    padding: 0.5rem 1.2rem;
    border: 0px solid transparent;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
</style>
