<script lang="ts">
	import { onMount, onDestroy, afterUpdate } from "svelte";
	import { writable, type Writable } from "svelte/store";
	import Input from "./input.svelte";
	import Button from "./button.svelte";

	class Message {
		public message: string;
		public user: string;
		public date: Date;
		public own: boolean;

		constructor(message: string, user: string, date: string | Date) {
			const login = data?.user?.login ? data?.user?.login : "Guest";

			this.message = message;
			this.user = user;
			this.date = new Date(date);
			this.own = login === user;
		}
	}

	export let roomId: string;
	export let data: Record<string, any>;
	let socket: WebSocket;
	let initialChat: Message[] = [];
	let chat = writable(initialChat);
	let msg = "";

	onMount(async () => {
		const response = await fetch(`/api/friends/messages?v=${roomId}`, {
			method: "GET",
			headers: {
				"content-type": "application/json",
				authorization: data.jwtToken,
			},
		});

		const { data: messages, error, success } = await response.json();
		if (success) {
			let temp: Message[] = [];
			messages.forEach(({ text, user, date }: Record<string, string>) => {
				temp.push(new Message(text, user, convertStringToDate(date)));
			});
			initialChat = temp.sort((a, b) => a.date.getTime() - b.date.getTime());
			chat.update((messages: Message[]) => [...messages, ...initialChat]);
		} else console.error(error);

		const serverUrl = `ws://127.0.0.1:5000/chat/${roomId}`;
		socket = new WebSocket(serverUrl);
		socket.onopen = () => console.log("WebSocket connection open.");
		socket.onmessage = (event: { data: string }) => {
			const { name, message } = JSON.parse(event.data);
			initialChat.push(new Message(message, name, new Date()));
			chat = [] as unknown as Writable<Message[]>;
			chat = writable(initialChat);
		};
		socket.onclose = () => console.log("WebSocket connection closed.");
	});

	onDestroy(() => (socket ? socket.close() : null));

	afterUpdate(() => {
		const scrollDiv: HTMLElement | null = document.getElementById(roomId);
		if (scrollDiv !== null) scrollDiv.scrollTop = scrollDiv.scrollHeight;
	});

	function sendMessage(event: Event): void {
		event.preventDefault();
		if (msg.trim() === "") return;

		socket.send(
			JSON.stringify({
				authorization: data.jwtToken,
				message: msg,
			})
		);

		msg = "";
	}

	function formatDate(date: Date): string {
		const day = String(date.getDate()).padStart(2, "0");
		const month = String(date.getMonth() + 1).padStart(2, "0");
		const year = String(date.getFullYear());
		const hours = String(date.getHours()).padStart(2, "0");
		const minutes = String(date.getMinutes()).padStart(2, "0");
		const seconds = String(date.getSeconds()).padStart(2, "0");
		return `${day}-${month}-${year} ${hours}:${minutes}:${seconds}`;
	}

	function convertStringToDate(dateString: string): Date {
		const dateParts = dateString.split(/[- :]/);
		const year = parseInt(dateParts[2], 10);
		const month = parseInt(dateParts[1], 10) - 1;
		const day = parseInt(dateParts[0], 10);
		const hours = parseInt(dateParts[3], 10);
		const minutes = parseInt(dateParts[4], 10);
		const seconds = parseInt(dateParts[5], 10);
		return new Date(year, month, day, hours, minutes, seconds);
	}
</script>

<div class="ChatRoom">
	<ul id={roomId} class="ChatRoom__list">
		{#each $chat as message}
			<li class="ChatRoom__item {message.own ? 'item--myMessage' : ''}">
				<div class="item__message">{message.message}</div>
				<div class="item__name">
					{message.user} <span>{formatDate(message.date)}</span>
				</div>
			</li>
		{/each}
	</ul>
	<form class="ChatRoom__input" on:submit={sendMessage}>
		<Input
			id="message"
			name="message"
			type="string"
			required={false}
			bind:value={msg}
		/>
		<Button type="submit">Send</Button>
	</form>
</div>

<style lang="scss">
	.ChatRoom {
		border: solid 1px rgba(var(--color-black), 1);
		height: 100%;
		display: flex;
		flex-direction: column;

		&__input {
			display: flex;
			justify-content: center;
		}

		&__list {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			height: 100%;
			overflow-y: auto;
			overflow-x: hidden;
			list-style: none;
			padding: 10px;
		}

		&__item {
			max-width: 300px;
			width: max-content;
			align-self: flex-end;

			display: flex;
			flex-direction: column;
			align-items: left;

			&.item--myMessage {
				align-self: flex-start;
				align-items: right;
			}

			.item__message {
				word-wrap: break-word;
				padding: 0.3rem 0.4rem;
				border-radius: 5px;
				background-color: rgba(var(--color-primary), 1);
				color: rgba(var(--color-base), 1);
			}

			.item__name {
				width: max-content;
				padding: 0 0.1rem;
				font-size: 0.7rem;

				span {
					font-size: 0.7rem;
					color: rgba(var(--color-black), 0.7);
				}
			}
		}
	}

	.ChatRoom__list::-webkit-scrollbar {
		width: 6px;
		background-color: rgba(var(--color-black), 0.3);
	}

	.ChatRoom__list::-webkit-scrollbar-thumb {
		background-color: rgba(var(--color-primary), 1);
		width: 4px;
	}
</style>
