<script lang="ts">
  import Button from "./button.svelte";
	import ChatRoom from "./chat-room.svelte";

	export let data: Record<string, any>;
	export let name: string;
	export let room: string;
	let isOpen = false;

	export const open = () => isOpen = true;
	export const close = () => isOpen = false;
</script>

{#if isOpen}
<aside class="FriendChat">
	<div class="FriendChat__panel">
		<div class="FriendChat__name">{name}</div>
		<Button on:click={close}>x</Button>
	</div>
	<div class="FriendChat__chat">
		<ChatRoom roomId={room} data={data} />
	</div>
</aside>
{/if}

<style lang="scss">
	.FriendChat {
		position: fixed;
		bottom: 0;
		right: 350px;
		background: rgba(var(--color-base), 1);
		height: 400px;
		max-height: 400px;
		display: flex;
		flex-direction: column;
		justify-content: stretch;

		&__panel {
			border: 1px solid rgba(var(--color-black), 1);
			border-bottom: transparent;
			height: 2.2rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: rgba(var(--color-primary), 1);
			color: rgba(var(--color-base), 1);
		}
		
		&__name {
			padding-left: 20px;
			font-weight: 700;
		}

		&__chat {
			height: calc(100% - 2.2rem);
		}
	}
</style>
