<script lang="ts">
	import { onMount } from "svelte";
	import Button from "./button.svelte";
	import AddFriend from "./popups/add-friend.svelte";
	import FriendChat from "./friend-chat.svelte";

	export let data: Record<string, any>;
	let addFriendModalRef: AddFriend;
	const openAddFriendModal = () => addFriendModalRef.openModal();

	let rooms: { id: string }[] = [];
	async function getRooms() {
		const response = await fetch(`/api/friends/rooms`, {
			method: "GET",
			headers: {
				"content-type": "application/json",
				authorization: data.jwtToken,
			},
		});

		const { data: resp, error, success } = await response.json();
		if (success) rooms = resp;
		else console.error(error);
	}

	let friendsRequest: { id: number; login: string }[] = [];
	async function fetchRequests() {
		const response = await fetch(`/api/friends/request`, {
			method: "GET",
			headers: {
				"content-type": "application/json",
				authorization: data.jwtToken,
			},
		});

		const { data: resp, error, success } = await response.json();
		if (success) friendsRequest = resp;
		else console.error(error);
	}

	async function acceptFriendRequest(userId: number) {
		const response = await fetch("/api/friends", {
			method: "POST",
			headers: {
				"content-type": "application/json",
				authorization: data.jwtToken,
			},
			body: JSON.stringify({ userId }),
		});

		const { data: resp, error, success } = await response.json();
		if (success) console.log(resp);
		else console.error(error);

		await getRooms();
		await fetchRequests();
	}

	let isHidden = true;
	const hideList = () => (isHidden = !isHidden);

	let chats: Record<string, FriendChat> = {};
	const openChat = (roomId: string) => {
		const table = Object.values(chats);
		table.forEach((element: FriendChat)=> {
			element.close()
		});

		chats[roomId].open();
	};

	onMount(async () => {
		await getRooms();
		await fetchRequests();
	});
</script>

<aside class="FriendsList {isHidden ? 'FriendsList--hidden' : ''}">
	<div class="FriendsList__title">
		<h4>Friends list</h4>
		<Button on:click={openAddFriendModal}>Add +</Button>
		<Button on:click={hideList}>-</Button>
	</div>
	<ul class="FriendsList__list">
		{#each friendsRequest as friend}
			<li class="FriendsList__add">
				<div>{friend.login}</div>
				<Button on:click={() => acceptFriendRequest(friend.id)}>Add +</Button>
			</li>
		{/each}
		<ul class="FriendsList__list">
			{#each rooms as room}
				<li
					class="FriendsList__item"
					on:click={() => openChat(room.id)}
					role="none"
				>
					{room.id}
				</li>
				<FriendChat bind:this={chats[room.id]} {data} room={room.id} name={room.id} />
			{/each}
		</ul>
	</ul>
</aside>
<AddFriend bind:this={addFriendModalRef} {data} />

<style lang="scss">
	.FriendsList {
		position: fixed;
		bottom: 0;
		right: 0;
		height: 40rem;
		width: 20rem;
		border: 1px solid rgba(var(--color-black), 1);
		background-color: rgba(var(--color-base), 1);
		transition: 0.4s;

		&--hidden {
			transform: translateY(calc(100% - 2.6rem));
		}

		&__title {
			display: flex;
			align-items: center;
			padding: 0.2rem 0.2rem 0.2rem 0.5rem;
			color: rgba(var(--color-base), 1);
			background-color: rgba(var(--color-primary), 1);
			border-bottom: 1px solid rgba(var(--color-black), 1);
			gap: 0.2rem;

			h4 {
				flex: 1;
			}
		}

		&__list {
			list-style: none;
		}

		&__item {
			padding: 1rem 0.5rem;
			cursor: pointer;
			border-bottom: 1px solid rgba(var(--color-black), 1);

			&:hover {
				background-color: rgba(var(--color-black), 0.2);
			}
		}

		&__add {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0.5rem;
			background-color: rgba(var(--color-yellow), 0.2);
		}
	}
</style>
