<script lang="ts">
  import { onMount } from "svelte";
  import { createEventDispatcher } from "svelte";

  export let id: string;
  export let type: string;
  export let required: boolean;
  export let value: string;
  export let name: string;
  export let customClass = '';
  let defaultClass = `Input ${customClass}`;

  const dispatch = createEventDispatcher();
  let computedAttributes: Record<string, string | boolean>  = {
    id,
    name,
    type,
    autocomplete: "off",
    required,
    value,
  };
  const onInput = (event: Event) => {
    const target = event.target as HTMLInputElement;
    dispatch("update:value", target.value || null);
  };

  onMount(() => {
    computedAttributes = {
      ...computedAttributes,
      id,
      name,
      type,
      required,
      value,
    };
  });
</script>

<div class={defaultClass}>
  <label for={id}>
    <div class="Input__wraper">
      <div class="Input__title">
        <slot />
      </div>
      <input
        class="Input__input"
        bind:value
        on:input={onInput}
        {...computedAttributes}
      />
    </div>
  </label>
</div>

<style lang="scss">
  .Input {
    width: 100%;

    &__wrapper {
      width: 100%;
      background: transparent;
    }

    &__title {
      font-size: 1rem;
      font-weight: 400;
    }

    &__input {
      background: none;
      border: 1px black solid;
      border-radius: 5px;
      width: 100%;
      padding: 0 1rem;
      margin: 0 auto;
      height: 2.2rem;
			outline: none;
    }
  }
</style>
