<script lang="ts">
  import { goto } from "$app/navigation";
  import AppButon from "components/button.svelte";

  export let data: Record<string, any>;
  $: User = data?.user;
  $: Coins = data?.coins;
  export let customClass = "";
  let defaultClass = `Navigation ${customClass}`;

  const logout = () => goto("/logout");
  const login = () => goto("/login");
  const register = () => goto("/register");
</script>

<div class={defaultClass}>
  <nav class="Navigation__wrapper">
    <a href="/" class="wrapper__logo">
      Poke<span class="wrapper__logo--hl">dex</span>
    </a>
    {#if !User}
      <ul class="Navigation__list">
        <li class="Navigation__item">
          <AppButon on:click={login}>Login</AppButon>
        </li>
        <li class="Navigation__item">
          <AppButon on:click={register}>Register</AppButon>
        </li>
      </ul>
    {:else}
      <ul class="Navigation__menu">
        <li class="Navigation__link">
          <a href="/dashboard">Dashboard</a>
        </li>
        <li class="Navigation__link">
          <a href="/pokedex">Pokedex</a>
        </li>
      </ul>
      <ul class="Navigation__list">
        <li class="Navigation__item--mess">
          Hi, {User?.login}!<br />
          <span class="Navigation__item--coins">coins: {Coins}</span>
        </li>
        <li class="Navigation__item">
          <form action="/logout" method="POST">
            <AppButon on:click={logout} type="submit">Logout</AppButon>
          </form>
        </li>
      </ul>
    {/if}
  </nav>
</div>

<style lang="scss">
  .Navigation {
    background-color: rgba(var(--color-primary), 1);

    &__wrapper {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0.8rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .wrapper__logo {
        text-decoration: none;
        font-size: 2rem;
        font-weight: 700;
        color: rgba(var(--color-yellow), 1);

        &--hl {
          font-size: inherit;
          color: rgba(var(--color-red), 1);
        }
      }
    }

    &__list {
      display: flex;
      justify-items: center;
      align-items: center;
      gap: 10px;
      list-style: none;
    }

    &__item {
      &--mess {
        color: rgba(var(--color-base), 1);
        padding-right: 10px;
        font-weight: 500;
        font-size: 1.3rem;
      }

      &--coins {
        font-size: 1rem;
        color: rgba(var(--color-yellow), 1);
      }
    }

    &__menu {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
    }

    &__link {
      font-weight: 600;
      color: rgba(var(--color-yellow));

      &:hover {
        opacity: 0.8;
      }
    }
  }
</style>
