<script lang="ts">
  export let customClass = '';
  let defaultClass = `Page ${customClass}`;
</script>

<div class={defaultClass}>
  <slot />
</div>

<style lang="scss">
  .Page {
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    height: calc(100vh - 64px);
  }
</style>
