<script lang="ts">
  import { onMount } from "svelte";
  import { createEventDispatcher } from "svelte";

  export let id: string;
  export let type: string;
  export let required: boolean;
  export let value: string;
  export let name: string;
  export let customClass = "";
  export let rows: string[];
  let defaultClass = `Input ${customClass}`;

  const dispatch = createEventDispatcher();
  let computedAttributes: Record<string, string | boolean> = {
    id,
    name,
    type,
    autocomplete: "off",
    required,
    value,
  };
  const onInput = (event: Event) => {
    const target = event.target as HTMLInputElement;
    dispatch("update:value", target.value || null);
  };

  onMount(() => {
    computedAttributes = {
      ...computedAttributes,
      id,
      name,
      type,
      required,
      value,
    };
  });

  function handleClick(name: string) {
    dispatch("returnValue", name);
  }
</script>

<div class={defaultClass}>
  <label for={id}>
    <div class="Input__wraper">
      <div class="Input__title">
        <slot />
      </div>
      <input
        class="Input__input"
        bind:value
        on:input={onInput}
        {...computedAttributes}
      />
      <ul class="Input__list">
        {#each rows as row}
          <li class="Input__item">
            <button on:click={handleClick(row)} class="Input__button">{row}</button>
          </li>
        {/each}
      </ul>
    </div>
  </label>
</div>

<style lang="scss">
  .Input {
    &__wrapper {
      width: 100%;
      background: transparent;
    }

    &__title {
      font-size: 1rem;
      font-weight: 400;
    }

    &__input {
      background: none;
      border: 1px black solid;
      border-radius: 5px;
      width: 100%;
      padding: 0 1rem;
      margin: 0 auto;
      height: 2rem;
    }

    &__list {
      position: absolute;
      background-color: rgba(var(--color-base), 1);
    }

    &__item {
      padding: 0.5rem 1rem;
      border: 1px solid black;
      border-bottom: 0px solid black;
      transition: 0.3s;

      &:hover {
        background-color: rgba(var(--color-black), 0.2);
        cursor: pointer;
      }

      &:first-child {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
      }

      &:last-child {
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom: 1px solid black;
      }
    }

    &__button {
      text-align: left;
    }
  }
</style>
