<script lang="ts">
  import Button from "components/button.svelte";
  import Input from "components/input.svelte";
  import Page from "components/page.svelte";

  let loginValue = "";
  let passwordValue = "";
  let retypePasswordValue = "";
  export let form: { error: unknown };
</script>

<Page customClass="Register">
  <h1 class="Register__title">Register</h1>
  <form action="/register" method="POST" class="Register__form">
    <Input
      id="login"
      name="login"
      type="text"
      required
      bind:value={loginValue}
      customClass="Register__input--login"
    >
      User name
    </Input>
    <Input
      id="password"
      name="password"
      type="password"
      required
      bind:value={passwordValue}
      customClass="Register__input--password"
    >
      Password
    </Input>
    <Input
      id="retypePassword"
      name="retypePassword"
      type="password"
      required
      bind:value={retypePasswordValue}
      customClass="Register__input--retypePassword"
    >
      Retype Password
    </Input>
    {#if form?.error}
      <p class="Register__error">{form.error}</p>
    {/if}
    <Button type="submit" customClass="Register__button">Register</Button>
  </form>
</Page>

<style lang="scss">
  .Register {
    &__title {
      font-size: 2rem;
      text-align: center;
      color: rgba(var(--color-black), 1);
    }

    &__error {
      color: rgba(var(--color-red), 1);
    }

    &__form {
      margin: 1rem auto 0;
      width: 20rem;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
</style>
