<script lang="ts">
  import Button from "components/button.svelte";
  import Input from "components/input.svelte";
  import Page from "components/page.svelte";

  let login: string;
  let password: string;

  /** @type {import('./$types').ActionData} */
  export let form: { error: unknown };
</script>

<Page customClass="Login">
  <h1 class="Login__title">Login</h1>
  <form action="/login" method="POST" class="Login__form">
    <Input
      id="login"
      name="login"
      type="text"
      required
      bind:value={login}
      customClass="Login__input--login"
    >
      User name
    </Input>
    <Input
      id="password"
      name="password"
      type="password"
      required
      bind:value={password}
      customClass="Login__input--password"
    >
      Password
    </Input>
    {#if form?.error}
      <p class="Login__error">{form.error}</p>
    {/if}
    <Button type="submit" customClass="Login__button">Login</Button>
  </form>
</Page>

<style lang="scss">
  .Login {
    &__title {
      font-size: 2rem;
      text-align: center;
      color: rgba(var(--color-black), 1);
    }

    &__error {
      color: rgba(var(--color-red), 1);
    }

    &__form {
      margin: 1rem auto 0;
      width: 20rem;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
</style>
