<script lang="ts">
	import Input from "components/input.svelte";
	import Popup from "./popup.svelte";
	import { afterUpdate } from "svelte";
	import Button from "components/button.svelte";

	let oldSerach = "";
	let search = "";
	let users: { id: number; login: string }[] = [];

	let modalRef: Popup;
	export const openModal = () => modalRef.open();
	export let data: Record<string, any>;

	afterUpdate(() => {
		if (search !== "") checkForUsers();
		else users = [];
	});

	async function checkForUsers() {
		if (oldSerach === search) return;
		oldSerach = search;

		const response = await fetch(`/api/friends?v=${search}`, {
			method: "GET",
			headers: {
				"content-type": "application/json",
				authorization: data.jwtToken,
			},
		});

		const { data: resp, error, success } = await response.json();
		if (success) users = resp;
		else console.error(error);
	}

	async function sendRequest(userId: number) {
		const response = await fetch(`/api/friends/request`, {
			method: "POST",
			headers: {
				"content-type": "application/json",
				authorization: data.jwtToken,
			},
			body: JSON.stringify({ userId }),
		});

		const { data: resp, error, success } = await response.json();
		if (success) console.log(resp);
		else console.error(error);

		modalRef.close();
	}
</script>

<Popup bind:this={modalRef}>
	<h4 class="Popup__title">Send friend request</h4>
	<Input
		id="name"
		required={false}
		type="string"
		name="string"
		bind:value={search}
	>
		Insert nick of ur friend
	</Input>
	<ul class="Popup__list">
		{#each users as user}
			<li class="Popup__item">
				<div>{user.login}</div>
				<Button on:click={() => sendRequest(user.id)}>+</Button>
			</li>
		{/each}
	</ul>
</Popup>

<style lang="scss">
	.Popup {
		&__title {
			padding-bottom: 1rem;
		}

		&__list {
			list-style: none;
		}

		&__item {
			margin: 1rem 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			font: bold;
		}
	}
</style>
