<script lang="ts">
	import Button from "../button.svelte";

	export let isOpen = false;
	export const open = () => (isOpen = true);
	export const close = () => (isOpen = false);
</script>

{#if isOpen}
	<div class="Popup">
		<div class="Popup__wrapper">
			<div class="Popup__panel">
				<div class="Popup__spacer" />
				<Button on:click={close}>x</Button>
			</div>
			<div class="Popup__content">
				<slot />
			</div>
		</div>
	</div>
{/if}

<style lang="scss">
	.Popup {
		position: fixed;
		z-index: 998;
		content: "";
		height: 100vh;
		width: 100vw;
		top: 0;
		left: 0;
		background-color: rgba(var(--color-black), 0.3);

		&__panel {
			display: flex;
		}

		&__spacer {
			flex: 1;
		}

		&__wrapper {
			position: fixed;
			z-index: 999;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 500px;
			height: 350px;
			background-color: rgba(var(--color-base), 1);

			display: flex;
			flex-direction: column;
			align-items: right;
		}

		&__content {
			width: 100%;
			padding: 1rem;
		}
	}
</style>
