@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import './_variables.scss';

:root {
  --color-base: 255, 255, 255;
  --color-black: 0, 0, 0;

  --color-primary: 70, 130, 180;
  --color-secondary: 67, 92, 183;

  --color-yellow: 240, 230, 0;
  --color-red: 225, 14, 14;
  --color-green: 152, 251, 152;
}
* {
  font-family: "Ubuntu", sans-serif;
}

ul, ol {
  list-style: none;
}

button {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
}

a {
  text-decoration: none !important;
  color: inherit;
}
